Expert Review Guidance

https://github.com/ietf-wg-drip/draft-ietf-drip-auth/blob/a15a80d0a62ba0118a40b81e44f61b302566fde2/auth.mkd?plain=1#L864

We need to provide the : RFC8126 says the following:

>   The required documentation and review criteria, giving clear guidance
>    to the designated expert, should be provided when defining the
>    registry.  It is particularly important to lay out what should be
>    considered when performing an evaluation and reasons for rejecting a
>    request.  It is also a good idea to include, when possible, a sense
>    of whether many registrations are expected over time, or if the
>    registry is expected to be updated infrequently or in exceptional
>    circumstances only.
> 

Some example are provided in https://www.rfc-editor.org/rfc/rfc8126.html#section-4.5

See also what we did here: https://www.rfc-editor.org/rfc/rfc9445.html#name-guidelines-for-the-designat

Resolved in dc7aab2ade1c1b4ea6b0b5b9306985a9755226e3. Copied from RFC9374 Section 8.2.1. 