Text around Section 8.1

Section 8.1 declares two registries. The first appears to describe a
registration procedure that reduces to Standards Action (RFC 8126, Section 4.9)
with an Expert Review component to it. It also seems like an I-D seeking
Proposed Standard status is enough to qualify, even if that document is never
actually published as an RFC. Is that intended, or do we need to say abandoned
I-Ds result in de-registration? Or is there a provisional/permanent component
to this?

Responded via mailing list.

The first registry is a mirror (for IETF allocated values) of the registry for ASTM values handled by their selected registrar; ICAO.

Allocation via this registrar requires an publicly available standard that goes through review by ASTM designated experts. The process and requirements are defined in F3411-22a Annex 5 which itself is based off of RFC 8126 Section 4.6. This is explicitly stated on the ICAO website: https://www.icao.int/airnavigation/IATF/Pages/ASTM-Remote-ID.aspx.

The intention is that an I-D is generated and goes through the IETF process up the point where a value is required. Where normally there would an IANA action to allocate into a registry their is an action for IETF to go to ICAO and request values, submitting the I-D for their process. This requires a fee to ICAO per allocation value. Once allocation is received by ICAO the document would continue the IETF process resulting in an Standards Track RFC with an IANA action in the document to update the IANA mirror registry with the new value. After publication an update to the ICAO registry is required to update the link to the newly published RFC (this may require an additional fee per allocation?).

If the request and approval for values via ICAO happens long before publication of the RFC and said document never advances to published RFC status it is the registrar (ICAO) that needs to be contacted to remove the value if they allow a revoke action.

A new updated response has been posted to list, a proposed change will be included in -47.